lib/xsd/pre_assignment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="piece">
    <complexType>
      <sequence>
        <element type="string" name="date"/>
        <element type="string" name="tiers"/>
        <element type="string" name="numero_piece"/>
        <element type="string" name="montant_origine"/>
        <element type="string" name="devise"/>
        <element type="string" name="taux_conversion"/>
        <element type="string" name="echeance"/>
        <element type="string" name="remarque"/>
        <element name="account" maxOccurs="unbounded" minOccurs="2">
          <complexType>
            <sequence>
              <element type="string" name="credit" minOccurs="0"/>
              <element name="debit" minOccurs="0">
                <complexType>
                  <simpleContent>
                    <extension base="string">
                      <attribute type="byte" name="number" use="optional"/>
                    </extension>
                  </simpleContent>
                </complexType>
              </element>
            </sequence>
            <attribute type="string" name="type" use="required"/>
            <attribute type="string" name="number" use="required"/>
            <attribute type="string" name="lettrage" use="optional"/>
          </complexType>
        </element>
      </sequence>
      <attribute type="string" name="name" use="required"/>
    </complexType>
  </element>
</schema>
