lib/xsd/preseizure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="piece">
    <complexType>
      <sequence>
        <element type="string" name="ignore" minOccurs="0"/>
        <element name="preseizure" maxOccurs="unbounded" minOccurs="1">
          <complexType>
            <sequence>
              <element type="string"  name="date"/>
              <element type="string"  name="third_party"/>
              <element type="string"  name="piece_number"/>
              <element type="string"  name="amount"/>
              <element type="string"  name="currency"/>
              <element type="string"  name="conversion_rate"/>
              <element type="string"  name="unit"/>
              <element type="string"  name="deadline_date"/>
              <element type="string"  name="observation"/>
              <element type="boolean" name="is_made_by_abbyy"/>
              <element name="account" maxOccurs="unbounded" minOccurs="2">
                <complexType>
                  <sequence>
                    <element type="string" name="credit" minOccurs="0"/>
                    <element name="debit" minOccurs="0">
                      <complexType>
                        <simpleContent>
                          <extension base="string">
                            <attribute type="byte" name="number" use="optional"/>
                          </extension>
                        </simpleContent>
                      </complexType>
                    </element>
                  </sequence>
                  <attribute type="string" name="type" use="required"/>
                  <attribute type="string" name="number" use="required"/>
                  <attribute type="string" name="lettering" use="optional"/>
                </complexType>
              </element>
            </sequence>
          </complexType>  
        </element>
      </sequence>
      <attribute type="string" name="name" use="required"/>
    </complexType>
  </element>
</schema>